@charset "UTF-8";

$bi-font-path: "../fonts/bootstrap-icons" !default;
$crypto-icon-path: "../fonts/crypto-icons/" !default;
$feather-icons-path: "../fonts/feather-icons" !default;
$flag-icon-css-path: "../fonts/flag-icon" !default;
$fa-font-path: "../fonts/fontawesome" !default;
$mdi-font-path: "../fonts/material-design-icons" !default;
$material-icons-font-path: "../fonts/material-icons/" !default;
$simple-line-font-path: "../fonts/simple-line-icons/" !default;
$simple-line-icon-prefix: sli- !default;
$ti-font-path: "../fonts/themify-icons/" !default;
$weather-icons-path: "../fonts/weather-icons";
